.carousel-item {
    height: 650px;
}
.carousel-caption{
    height: 200px;
}
.carousel-caption p {
    color: tomato;
    font-size: 25px;
}
.carousel-caption p {
    color: black;
    font-size: 20px;
}